.topic {
  margin-bottom: .1rem;
  font-size: .14rem;
}

.confirm-btn {
  margin-top: .4rem;
  width: 100%;
}

.text-area {
  margin-bottom: .14rem;
  width: 100%;
  min-height: 1rem;
  border: 1px solid #ddd;
  padding: .05rem;
}